.embed-responsive.embed-responsive-16by9
  #video-box.html5-video-player
    .html5-video-container
      %video{ is: 'google-castable-video' }
        %source{ src: 'assets/media/test.mp4', type: 'video/mp4' }
    .player-chrome-bottom
      .player-progress-bar-container
      .player-chrome-controls
        = render 'video_controls'

%script{src: 'assets/javascripts/video_controls.js'}
