%nav.navbar.navbar-dark.bg-primary
  %button.navbar-toggler.hidden-sm-up{ type: 'button', data: { toggle: 'collapse', target: '#navbar-collapse'} }
    &#9776;
  .collapse.navbar-toggleable-xs#navbar-collapse
    %a.navbar-brand{ href: '/' } Morgflix
    %ul.nav.navbar-nav
      %li.nav-item.active

