%link{:href => "images/touch/chrome-touch-icon-192x192.png", :rel => "icon", :sizes => "192x192"}
/ Add to homescreen for Safari on iOS
%link{:href => "images/touch/apple-touch-icon.png", :rel => "apple-touch-icon"}
/ Tile icon for Win8 (144x144)
%link{:href => "assets/elements/elements.html", :rel => "import"}
